@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(97.9% 0.021 166.113);
  --foreground: #171717;
  --container-width: 768px; /* iPad width */
}

html, body {
  height: 100%;
  background-color: var(--background);
}

@layer components {
  .container-tablet {
    width: 100%;
    max-width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
  }
}